@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;600;700;800&display=swap");

.news-home {
  background: #dce1eb;
  padding: 10px;
}
.news-small {
  padding: 10px 0;
}

.news-minicard {
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgb(194, 194, 194);
  border-radius: 1rem;
}

.news-minicard_image {
  border-radius: 1rem;
}

.news-home_large-card {
  display: flex;
  background: white;
  border-radius: 1rem;
  justify-content: space-between;
  padding: 10px;
  flex-direction: column;

  align-items: center;
}

.news_large-card_info {
  display: flex;
  justify-content: space-between;
  padding: 4px 4px;
  gap: 2;
}

.news_large-card_share {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.news_large-card_title {
  font-family: "Nunito", sans-serif;

  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 18px;
}

.news_small-card_share {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  object-fit: contain;
  gap: 10%;
}
.news_small-image {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.news_small-title {
  font-size: 15px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}

.tab-text {
  color: #999999;
}
