.slider {
  margin: 0 20px;
  overflow: "hidden";
  padding: 2rem 0;
}

.slider img {
  width: 100%;
  border-radius: 10px;
}

.react-multi-carousel-list {
  padding: 0rem 0 2rem 0;
}

.custom-dot-list-style button {
  border: none;
  background: rgb(255, 68, 68);
}
.react-multi-carousel-dot.react-multi-carousel-dot--active button {
  background: rgb(255, 68, 68) !important;
}

.button-show {
  border-radius: 5rem;
  border: 1px solid #ff961f;
  background: #ff961f;
  color: white;
  padding: 3px 13px;
  font-size: 18px;
  font-weight: 700;
}

.button-call {
  border-radius: 5rem;
  border: 1px solid #ff961f;
  background: #ff961f;
  color: white;
  font-size: 18px;
}

.button-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-body_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-title {
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.card-star {
  display: flex;
  align-items: center;
  justify-content: center;
}
.delovoy-p {
  font-size: 13px;
  color: #999999;
}
.button-call {
  /* left: 81.02%;
  right: 5.42%;
  top: 85.11%;
  bottom: 4.26%; */

  background: #ff961f;
  border-radius: 50px;
  width: 40px;
}
.button-call > img {
  width: 30px;
  height: 30px;
}
